<ion-header>
    <ion-toolbar>
        <ion-title>Please select the kid to manage</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-reorder-group (ionItemReorder)="onRenderItems($event)" disabled="false">
            <ion-card *ngFor="let kid of kidServ.kidsArray, index as i">
                <app-kidcard [index]="i" [kid]="kid"></app-kidcard>
            </ion-card>

        </ion-reorder-group>
    </ion-list>


    <ion-fab [routerLink]="['add']" horizontal="end" slot="fixed" vertical="bottom">
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
