<ion-content>
    <ion-item-group>
        <ion-item-group>
            <ion-item-divider>
                <ion-label>General</ion-label>
            </ion-item-divider>

                <ion-radio-group name="country">
                    <ion-list-header>
                        <ion-label>Country</ion-label>
                    </ion-list-header>

                    <ion-item>
                        <ion-label>Malaysia</ion-label>
                        <ion-radio checked slot="start" value="my"></ion-radio>
                    </ion-item>

                    <ion-item>
                        <ion-label>France</ion-label>
                        <ion-radio slot="start" value="fr"></ion-radio>
                    </ion-item>
                </ion-radio-group>
        </ion-item-group>


        <ion-item-divider>
            <ion-label>Measurements</ion-label>
        </ion-item-divider>

        <ion-item>
            <ion-label>Use imperial units</ion-label>
            <ion-toggle slot="end"></ion-toggle>
        </ion-item>

        <ion-button expand="block" margin-top type="submit">Save settings</ion-button>

    </ion-item-group>
</ion-content>
