<ion-content padding>
    <form (submit)="onSubmit()" [formGroup]="addForm">

        <ion-list>
            <ion-item>
                <ion-label>Date of the entry</ion-label>
                <ion-datetime display-format="DD/MM/YYYY" formControlName="date"
                              picker-format="DD MMMM YYYY" placeholder="01/01/2019"></ion-datetime>
            </ion-item>

            <ion-item>
                <ion-label position="stacked">Title</ion-label>
                <ion-input formControlName="title" placeholder="{{kids.currentKid.name}}'s first word!" type="text">
                </ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="stacked">Notes</ion-label>
                <ion-textarea formControlName="notes" placeholder="Enter your notes here" type="text">
                </ion-textarea>
            </ion-item>
        </ion-list>

        <ion-row vertical="bottom">
            <ion-col>
                <ion-button [disabled]="addForm.pristine || addForm.invalid" color="primary" expand="block" shape="full"
                            type="submit">Add a new entry to the diary
                </ion-button>
            </ion-col>
        </ion-row>

    </form>
</ion-content>
