<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Add a child</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <form (submit)="onSubmit()" [formGroup]="addForm">

        <ion-list>
            <ion-item>
                <ion-label position="stacked">Name</ion-label>
                <ion-input formControlName="name" placeholder="Lily" type="text">
                </ion-input>
            </ion-item>


            <ion-item>
                <ion-label position="stacked">Surname</ion-label>
                <ion-input formControlName="surname" placeholder="Smith" type="text">
                </ion-input>
            </ion-item>

            <ion-item>
                <ion-label>Birthdate</ion-label>
                <ion-datetime display-format="DD/MM/YYYY" formControlName="birthdate" picker-format="DD MMMM YYYY"
                              placeholder="01/01/2019"></ion-datetime>
            </ion-item>

            <ion-radio-group formControlName="gender">
                <ion-list-header>
                    <ion-label>Gender</ion-label>
                </ion-list-header>

                <ion-item>
                    <ion-label>Boy</ion-label>
                    <ion-radio checked slot="start" value="m"></ion-radio>
                </ion-item>

                <ion-item>
                    <ion-label>Girl</ion-label>
                    <ion-radio slot="start" value="f"></ion-radio>
                </ion-item>
            </ion-radio-group>

            <ion-item>
                <ion-label>Picture</ion-label>
                <ion-icon (click)="takePicture()" name="camera"></ion-icon>
                <ion-avatar margin slot="end">
                    <img [src]="image" alt="Profil picuture">
                </ion-avatar>
            </ion-item>

        </ion-list>

        <ion-row class="signin" vertical="bottom">
            <ion-col>
                <ion-button [disabled]="addForm.pristine || addForm.invalid" color="primary" expand="block" shape="full"
                            type="submit">Add a new child
                </ion-button>
            </ion-col>
        </ion-row>

    </form>
</ion-content>
