<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-card [routerLink]="['height']" padding>
                    <h1>Height</h1>
                    <p>Measure your child</p>
                </ion-card>
            </ion-col>

            <ion-col>
                <ion-card [routerLink]="['weight']" padding>
                    <h1>Weight</h1>
                    <p>Track your child's weight</p>
                </ion-card>
            </ion-col>

        </ion-row>

        <ion-row>
            <ion-col>
                <ion-card [routerLink]="['head']" padding>
                    <h1>Head circumference</h1>
                    <p>Check his head circumference</p>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

    <a href="https://www.who.int/childgrowth/training/en/" padding target="_blank">How to do the measurements</a>
</ion-content>
