<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-card [routerLink]="['height']" padding>
                    <h1 translate>Height</h1>
                    <p translate>Measure your child</p>
                </ion-card>
            </ion-col>

            <ion-col>
                <ion-card [routerLink]="['weight']" padding>
                    <h1 translate>Weight</h1>
                    <p translate>Track your child's weight</p>
                </ion-card>
            </ion-col>

        </ion-row>

        <ion-row>
            <ion-col>
                <ion-card [routerLink]="['head']" padding>
                    <h1 translate>Head circumference</h1>
                    <p translate>Check his head circumference</p>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

    <a href="https://www.who.int/childgrowth/training/en/"
       padding target="_blank" translate>How to do the measurements</a>
</ion-content>
