<ion-content padding>
    <form #form="ngForm" text-center>

        <ion-text color="primary-contrast">
            <h1>Your account is just a click away !</h1>
        </ion-text>

        <div>
            <ion-list>
                <ion-item>
                    <ion-label color="primary" position="floating">Name</ion-label>
                    <ion-input name="email" placeholder="John" required type="name"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label color="primary" position="floating">Surname</ion-label>
                    <ion-input name="surname" placeholder="Smith" required type="surname"></ion-input>
                </ion-item>


                <ion-item>
                    <ion-label>Gender</ion-label>
                    <ion-select placeholder="Select One">
                        <ion-select-option value="f">Female</ion-select-option>
                        <ion-select-option value="m">Male</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-radio-group>
                    <ion-list-header>
                        <ion-label>Country</ion-label>
                    </ion-list-header>

                    <ion-item>
                        <ion-label>Malaysia</ion-label>
                        <ion-radio checked slot="start" value="my"></ion-radio>
                    </ion-item>

                    <ion-item>
                        <ion-label>France</ion-label>
                        <ion-radio slot="start" value="fr"></ion-radio>
                    </ion-item>
                </ion-radio-group>

                <ion-item>
                    <ion-label>I accept the <a (click)="presentModal()">terms and conditions</a></ion-label>
                    <ion-toggle slot="end"></ion-toggle>
                </ion-item>

            </ion-list>


        </div>
        <div padding-top>
            <ion-button [disabled]="form.invalid" expand="block" size="large" type="submit">Register !</ion-button>
        </div>
    </form>
</ion-content>
