<ion-toolbar>
    <ion-buttons slot="start">
        <ion-button (click)="openMenu()">
            <ion-icon name="menu"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-title>{{currentPage?.title}}</ion-title>
</ion-toolbar>


    <ion-menu menuId="first" contentId="content" side="start">
        <ion-header>
            <ion-toolbar color="primary">
                <ion-title>Kids Monitoring App</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-list>
                <ion-item (click)="openPage(p)" *ngFor="let p of pages"
                          [class.active-item]="this.router.url.includes(p.path)" [routerLink]="[p.path]">
                    <ion-icon name="{{p.icon}}"></ion-icon>
                    <p margin-start>{{p.title}}</p>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-menu>
<ion-content>
    <ion-router-outlet id="content"></ion-router-outlet>

</ion-content>
