<ion-item-divider>
    <ion-reorder>

        <ion-item-divider>
            <ion-icon name="reorder"></ion-icon>

            <ion-card-header>
                <ion-card-subtitle>{{monthOld}} months old</ion-card-subtitle>
                <ion-card-title>{{kid.name}}</ion-card-title>
            </ion-card-header>

            <ion-avatar margin slot="end">
                <img [src]="kid.image" alt="{{kid.name}}'s face">
            </ion-avatar>
        </ion-item-divider>
    </ion-reorder>


    <ion-icon (click)="onClick()" [routerLink]="['/app/dashboard']" name="play" padding slot="end"></ion-icon>

</ion-item-divider>
